:root {
    --max-width: 1100px;
    --border-radius: 12px;

    --background: #001426;
    --background-secondary: #002c54;

    --primary-darker: #3D3B8E;
    --primary-lighter: #6883BA;

    --secondary-darker: #012622;
    --secondary-lighter: #003B36;

    --tertiary: #E4FDE1;

    --font-primary: Roboto, "Helvetica Neue", sans-serif;
    --font-secondary: "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: var(--font-primary);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    background-color: var(--background);
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;
}
