.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.activityButtonSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.activityMobileSelect {
    display: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0 auto;
    width: 80%;
    border-radius: 1px;
    background-color: var(--primary-darker);
    color: var(--text-primary);
    transition: background-color 0.3s ease;
}

.activityMobileSelect::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--text-primary);
    pointer-events: none;
}

.activityMobileSelect:hover {
    background-color: var(--primary-lighter);
}

.activitySelectButton {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-darker);
    color: var(--text-primary);
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.activitySelectButton:hover {
    background-color: var(--primary-lighter);
}

.selectedActivity {
    background-color: var(--primary-lighter);
}

.shareButton {
    font-size: 1.3rem;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--text-primary);
    background-color: var(--primary-darker);
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.shareButton:hover {
    background-color: var(--primary-lighter);
}

.symbolList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0 2rem;
    margin: 1rem auto;
}

.symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.symbolImageContainer {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
}

.symbolName {
    text-align: center;
    width: 100%;
    color: var(--text-primary);
    font-size: 1.5rem;
    border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--primary-lighter) 49%, var(--primary-lighter) 51%, rgba(25,75,115,0) 100%) 7 / 0 0 2px 0 stretch;
}

@media screen and (max-width: 500px) {
    .activityButtonSelect {
        display: none;
    }

    .activityMobileSelect {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .symbolList {
        padding: 0 0.5rem;
        width: 100%;
    }

    .symbolImageContainer {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@media screen and (max-width: 570px) {
    .symbolList {
        padding: 0 0.2rem;
        width: 100%;
    }

    .symbolImageContainer {
        width: 6rem;
        height: 6rem;
    }
}