.showcase {
    display: flex;
    width: 70%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.showCaseText {
    flex-basis: 35%;
    font-size: 1.5rem;
}

.showCaseText h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.showCaseText span {
    font-size: 1em;
    margin-bottom: 1rem;
}

.showcaseImageContainer {
    marign-left: 5rem;
    flex-basis: 30%;
}

.showcaseImage {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1300px) {
    .showcase {
        width: 90%;
    }

    .showCaseText {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .showcase {
        margin-top: 5rem;
        flex-direction: column;
        width: 90%;
        /* height: 60% */
    }

    .showCaseText {
        margin-bottom: 3rem;
    }

    .showcaseImageContainer {
        margin-left: 0;
        flex-basis: 100%;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .showCaseText {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
