.showcase {
    display: flex;
    width: 70%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.showCaseText {
    flex-basis: 35%;
    font-size: 1.5rem;
}

.showCaseText h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.showCaseText span {
    font-size: 1em;
    margin-bottom: 1rem;
}

.showcaseImageContainer {
    marign-left: 5rem;
    flex-basis: 30%;
}

.showcaseImage {
    width: 100%;
    height: auto;
}

/* Showcase grid background */
.showcaseBackground {
    position: relative;
    overflow: hidden;
}

.showcaseBackground::before {
    content: "";
    position: absolute;
    width: 200rem;
    height: 100rem;
    background: repeating-linear-gradient(-85deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0) 0.15%, rgba(0, 0, 0, 0) 1%),
                repeating-linear-gradient(20deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0) 0.15%, rgba(0, 0, 0, 0) 1%);
}

.showcaseMouse {
    position: relative;
    content: "";
    position: absolute;
    overflow: hidden;
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    background: radial-gradient(circle at center, var(--background), var(--background) 20%, rgba(0, 0, 0, 0) 70%);
}

.showcaseBackgroundFade {
    position: relative;
    overflow: hidden;
}

.showcaseBackgroundFade::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--background), rgba(0, 0, 0, 0) 30%, var(--background) 90%);
}

.calloutListHeader {
    text-align: center;
}

.calloutList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
}

.calloutSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px var(--background-secondary) solid;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 221px;
    padding: 2rem;
    padding-left: 4rem;
    cursor: pointer;
}

.calloutSetText ul li {
    list-style: inside;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    text-decoration-color: var(--text-secondary-dark);
}

.calloutSetText ul li:hover {
    color: var(--text-secondary-bright);
    text-decoration-color: var(--text-secondary-bright);
    transform: scale(1.05);
}

.calloutSetSymbols {
    display: flex;
    align-items: center;
}

.calloutSetSymbolContainer {
    position: relative;
    width: 12rem;
    height: 12rem;
}

@media screen and (max-width: 1500px) {
    .calloutList {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {
    .showcase {
        width: 90%;
    }

    .showCaseText {
        font-size: 1.2rem;
    }

    .calloutList {
        width: 90%;
    }

    .calloutSetSymbolContainer {
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .showcase {
        margin-top: 5rem;
        flex-direction: column;
        width: 90%;
    }

    .showCaseText {
        margin-bottom: 3rem;
    }

    .showcaseImageContainer {
        margin-left: 0;
        flex-basis: 100%;
        width: 70%;
    }

    .calloutList {
        width: 95%;
    }

    .calloutSet {
        justify-content: center;
        height: 15rem;
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .showCaseText {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .calloutSetSymbolContainer {
        width: 5rem;
        height: 5rem;
    }
}
