.banner {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
    position: relative;
}

.bannerText {
    flex-basis: 35%;
    font-size: 1.6rem;
}

.bannerText h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    font-weight: 900;
}

.bannerText span {
    display: block;
    font-size: 1em;
}

.bannerText button {
    margin: 1.5rem 0;
    font-size: 1em;
    font-weight: 800;
    font-family: var(--font-title);
    color: var(--text-primary);
    border: 2px var(--text-primary) solid;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.2s linear;
}

.bannerText button:hover {
    background-color: var(--text-primary);
    color: var(--background);
}

.bannerImageContainer {
    position: relative;
    flex-basis: 35%;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImage {
    width: 100%;
    height: 100%;
}

.calloutSectionCenterAligner {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calloutSplitter {
    width: 100%;
    margin: 0 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.calloutSetSlideshowWrapper {
    position: relative;
    flex-basis: 30vw;
}

.calloutListSection {
    flex-basis: 50%;
}

.calloutListHeader {
    font-size: 4rem;
    text-align: left;
    padding: 1rem;
}

.calloutList {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.calloutSet {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px white solid;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    padding: 1rem;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.calloutSetBackground {
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.5);
    user-select: none;
    transition: filter 0.2s ease-in-out;
}

.calloutSet:hover .calloutSetBackground {
    filter: brightness(0.45);
}

.calloutSet:hover {
    border: 1px var(--text-secondary-bright) solid;
}

.calloutSetText {
    font-family: var(--font-primary);
}

.calloutSetText h2 {
    font-size: 1.7rem;
}

.calloutSetActivityList {
    overflow: hidden;
    margin-left: 2px;
    transition: max-height 0.3s ease-in-out;
}

.calloutSetActivityLink {
    font-size: 1.2rem;
    color: #C0C8E3;
    list-style: inside;
    transition: all 0.2s ease-in-out;
    text-decoration-color: var(--text-secondary-dark);
}

.calloutSetActivityLink:hover {
    text-decoration: underline;
    color: var(--text-secondary-bright);
    text-decoration-color: var(--text-secondary-bright);
    transform: translate(10px);
}

.calloutSetSymbolContainer {
    position: relative;
    width: 5.25rem;
    height: 5.25rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    filter: drop-shadow(1rem 1rem 20px black);
    opacity: 0.9;
}

.calloutSetArrow {
    position: absolute;
    opacity: 0;
    width: 35px;
    height: 35px;
    top: auto;
    bottom: auto;
    right: 50px;
    transition: all 0.2s ease-in-out;
}

.calloutSet:hover .calloutSetArrow {
    opacity: 1;
    right: 30px;
}

.calloutSetArrow * {
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 2100px) {
    .bannerText {
        font-size: 1.25rem;
    }

    .calloutSetSlideshowWrapper {
        flex-basis: 35vw;
    }
}

@media screen and (max-width: 1500px) {
    .calloutSplitter {
        margin: 0;
    }
}

@media screen and (max-width: 1300px) {
    .banner {
        width: 90%;
    }

    .bannerText {
        font-size: 1rem;
    }

    .bannerImageContainer {
        flex-basis: 30%;
    }

    .calloutListSection {
        flex-basis: 100%;
    }

    .calloutList {
        width: 95%;
        margin: auto auto;
    }

    .calloutListHeader {
        font-size: 3rem;
        display: block;
        text-align: center;
    }

    .calloutSetSymbolContainer {
        margin-left: 0.8rem;
        margin-right: 2rem;
    }

    .calloutSetSlideshowWrapper {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .banner {
        flex-direction: column-reverse;
    }

    .bannerText {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .bannerImageContainer {
        margin-left: 0;
        width: 60%;
    }

    .calloutListSection {
        flex-basis: 100%;
    }

    .calloutSet {
        height: 130px;
    }

    .calloutSetLeft {
        flex-basis: 100%;
    }

    .calloutSetText {
        margin: 0 auto;
    }

    .calloutSetText h2 {
        font-size: 1.4rem;
    }

    .calloutSetSymbolContainer {
        position: absolute;
        margin: 0.5rem 0.5rem;
        width: 5rem;
        height: 5rem;
    }

    .calloutSetActivityList {
        display: none;
    }

    .calloutSetArrow {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .bannerText {
        font-size: 0.8rem;
    }

    .bannerText h1 {
        font-size: 2em;
    }

    .calloutSetSymbolContainer {
        margin: 0.1rem;
        width: 4rem;
        height: 4rem;
    }

    .calloutSetText h2 {
        font-size: 1.2rem;
    }

    .calloutSetArrow {
        right: 30px;
    }

    .calloutSet:hover .calloutSetArrow {
        right: 10px;
    }
}

@media screen and (max-width: 300px) {
    .calloutSet {
        justify-content: space-between;
    }

    .calloutSetSymbolContainer {
        position: relative;
    }
}