.homePage section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.sectionOne {
    border-bottom: 1px solid gray;
}

.sectionBackground {
    object-fit: cover;
    user-select: none;
    z-index: 0;
}

.banner {
    display: flex;
    width: 70%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.bannerText {
    flex-basis: 35%;
    font-size: 1.25rem;
}

.bannerText h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    font-weight: 900;
}

.bannerText span {
    display: block;
    font-size: 1em;
}

.bannerText button {
    margin: 1.5rem 0;
    font-size: 1em;
    font-weight: 800;
    font-family: var(--font-title);
    color: var(--text-primary);
    border: 2px var(--text-primary) solid;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.2s linear;
}

.bannerText button:hover {
    background-color: var(--text-primary);
    color: var(--background);
}

.bannerImageContainer {
    position: relative;
    flex-basis: 35%;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImage {
    width: 100%;
    height: 100%;
}

.calloutSplitter {
    margin: 0 4rem;
    margin-top: 2rem;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.calloutSetImageWrapper {
    position: relative;
    flex-basis: 40%;
}

.calloutSetImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.calloutListSection {
    flex-basis: 50%;
}

.calloutListHeader {
    font-size: 3.5rem;
    text-align: left;
    padding: 1rem;
}

.calloutList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.calloutSet {
    display: flex;
    align-items: center;
    border: 1px white solid;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    height: 180px;
    padding: 1rem;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}

.calloutSet:hover {
    border: 1px var(--text-secondary-bright) solid;
    opacity: 1;
}

.calloutSetText {
    font-family: var(--font-primary);
}

.calloutSetText h2 {
    font-size: 1.7rem;
}

.calloutSetText ul li {
    font-size: 1.2rem;
    color: #C0C8E3;
    list-style: inside;
    transition: all 0.2s ease-in-out;
    text-decoration-color: var(--text-secondary-dark);
}

.calloutSetText ul li:hover {
    text-decoration: underline;
    color: var(--text-secondary-bright);
    text-decoration-color: var(--text-secondary-bright);
}

.calloutSetSymbolContainer {
    position: relative;
    width: 7rem;
    height: 7rem;
    margin: 0 1.5rem;
    filter: drop-shadow(1rem 1rem 20px black);
    opacity: 0.9;
}

@media screen and (max-width: 1500px) {
    .calloutSplitter {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 1300px) {
    .banner {
        width: 90%;
    }

    .bannerText {
        font-size: 1rem;
    }

    .bannerImageContainer {
        flex-basis: 30%;
    }

    .calloutListSection {
        flex-basis: 80%;
    }

    .calloutSetSymbolContainer {
        margin: 0 0.8rem;
    }

    .calloutSetImageWrapper {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .banner {
        margin-top: 2rem;
        flex-direction: column-reverse;
    }

    .bannerText {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .bannerImageContainer {
        margin-left: 0;
        flex-basis: 200%;
    }

    .calloutListSection {
        flex-basis: 100%;
    }
    
    .calloutSetSymbolContainer {
        margin: 0.5rem 0.5rem;
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (max-width: 400px) {
    .bannerText {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .calloutSetSymbolContainer {
        margin: 0.25rem 0.25rem;
        width: 4rem;
        height: 4rem;
    }
}
