.loadingSpinner {
    border: 0.4rem solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.4rem solid #5858e2;
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
