.nav {
    background-color: var(--background);
    border: 1px var(--border-primary);
    border-style: solid none;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
    padding: 0 32px;
    z-index: 100;
}

.menuIcon {
    font-size: 2rem;
}

.menuIcon * {
    color: var(--foreground);
}

.searchBar {
    width: 35%;
    background-color: var(--background-secondary);
    color: var(--text-primary);
    padding: 0 15px;
    height: 46px;
    gap: 10px;
    border-radius: 36px;
    display: flex;
    align-items: center;    
}

.searchIcon {
    color: rgba(132, 132, 132, 1);
}

.searchBarText {
    width: 100%;
}

.savedSetsButton {
    position: relative;
    height: 5rem;
    width: 3rem;
    padding: 1.2rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.savedSetsButton:hover {
    opacity: 0.8;
}

.savedSetsButtonBorder {
    position: absolute;
    width: 50px;
    height: 50px;
}

.logo {
    position: absolute;
    top: 23px;
    width: 25px;
    height: 25px;
}

@media (max-width: 850px) {
    .searchBar {
        width: 80%;
        margin: 0 15px;
    }
}