.nav {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
    padding: 0 32px;
    background-color: transparent;
    z-index: 100;
}

.logoContainer {
    position: relative;
    height: 5rem;
    padding: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.logoContainer:hover {
    opacity: 0.8;
}

.logoIcon {
    display: none;
}

.logo {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .nav {
        padding: 0;
    }

    .logoIcon {
        display: block;
    }

    .fullLogo {
        display: none;
    }
}